/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');*/
/*

.poppins_400{
    font-family: 'Poppins', sans-serif;
    font-weight:400;
}
.poppins_500{
    font-family: 'Poppins', sans-serif;
    font-weight:500;
}
.poppins_700{
    font-family: 'poppins', sans-serif;
    font-weight:700;
}*/
