<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <menuitem id="menu_franchisee" name="Franchise">
        <menuitem name="Applications"
                  sequence="0"
                  id="menu_franchise_applications_partners"
                  action="action_view_franchise_application"
        />
    </menuitem>

</odoo>