.oe_login_form input{
    padding:7px !important;
    font-size: 14px;
    border-radius:0px;
    outline:none;
    border: 1px solid #087db480 !important;
}
.oe_login_form input:focus{
    box-shadow:none;
    outline:none
    border: 1px solid #087db480 !important;
}