.oe_signup_form input{
    padding:7px !important;
    font-size: 14px;
    border-radius:0px;
    outline:none;
    border: 1px solid #087db480 !important;
}
.oe_signup_form select{
    padding:7px;
    font-size: 14px;
    border-radius:0px;
    background-color:white !important;
    border: 1px solid #087db480 !important;
}
.oe_signup_form input:focus{
    box-shadow:none;
    outline:none
    border: 1px solid #087db480 !important;
}
.oe_signup_form select:focus{
    box-shadow:none;
    border: 1px solid #087db480 !important;
    outline:none
}
.oe_login_form, .oe_signup_form, .oe_reset_password_form{
    max-width:60% !important;
}
.btn-fill-primary, .btn-primary{
    background-color:#087db4 !important;
    border:none;
    border-radius:0px;
}
.btn-fill-primary, .btn-primary:focus{
    box-shadow:none;
    outline:none;
    border:none;
}